@import '../less/variables.scss';

@media screen and (min-width: $screen-sm) {
}
@media screen and (min-width: $screen-md) {
}
@media screen and (min-width: $screen-lg) {
}

.main {

  background-color: $bg-color-main;
  margin: 0;
  padding: 0;

  .main__title-services {
    padding-left: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-lg) {
      margin-bottom: 10px;
    }
  }
}
