@import '../less/variables.scss';

@media screen and (min-width: $screen-sm) {
}
@media screen and (min-width: $screen-md) {
}
@media screen and (min-width: $screen-lg) {
}

.swiper {
  margin-left: 20px;
  overflow: unset;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
