$text-color: #1B1C21;

$text-color-slide: #7E7E82;
$text-color-slide--active: #1B1C21;

$text-color-left-menu-active: #7E7E82;

$text-color-blocks: #7E7E82;

$text-color-footer: #7E7E82;

$text-color-btn: white;

$text-color-placeholder: #B5B6BC;

$font-family-R: "TT Lakes Regular", sans-serif;
$font-family-M: "TT Lakes Medium", sans-serif;
$font-family-B: "TT Lakes Bold", sans-serif;


$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1366px;

$bg-color:  #41F6D7;
$bg-color-upper-menu: #F8F8F8;
$bg-color-main: #F8F8F8;

$bg-color-left-menu: white;
$bg-color-table: white;

$bg-color-btn: #FF3E79;
$bg-color-slide-menu: #FFFFFF;
$bg-color-link-container-brand: #FFFFFF;
$color-popup: #FFFFFF;

$border-color: #B8FFEC;
$border-color-link-container-brand: #EAEAEA;
$border-color-link: #ff3e79;

$border-color-one-line: #D9FFF5;

$box-shadow-color: #847d7d;


