@import 'less/variables';

@media screen and (min-width: $screen-sm) {
}
@media screen and (min-width: $screen-md) {
}
@media screen and (min-width: $screen-lg) {
}

.about {
  display: flex;
  font-family: $font-family-R;
  font-size: 14px;
  color: #1B1C21;
  margin: 0;
  width: 100%;

  @media screen and (min-width: $screen-sm) {
    flex-direction: column;
  }
  @media screen and (min-width: $screen-md) {
    flex-direction: row;
  }
  @media screen and (min-width: $screen-lg) {
    flex-direction: row;
    padding: 0;
  }

  .about__article {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-lg) {
      padding-left: 24px;
    }
  }

  .about__text {
    width: 100%;
    margin: 0;
    padding-bottom: 16px;

    @media screen and (min-width: $screen-sm) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media screen and (min-width: $screen-md) {
      padding-left: 24px;
      padding-right: 0;
    }
    @media screen and (min-width: $screen-lg) {
      max-width: 490px;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .about__text--off-mobile {
    display: none;

    @media screen and (min-width: $screen-md) {
      display: block;
    }
    @media screen and (min-width: $screen-lg) {
      display: block;
    }
  }

  .about__text--on-desktop {
    display: none;
    @media screen and (min-width: $screen-lg) {
      display: block;
    }
  }

  .about__button {
    background: url("../img/expand-down.svg") no-repeat;
    border-style: none;
    text-align: start;
    padding-left: 25px;
    font-family: $font-family-M;
    font-size: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: $screen-sm) {
      margin-left: 16px;
    }
    @media screen and (min-width: $screen-md) {
      margin-left: 24px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-left: 0;
    }
  }

  .about__image-about {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $screen-sm) {
      max-width: 400px;
    }
    @media screen and (min-width: $screen-md) {
      min-width: 350px;
      margin-right: 25px;
      margin-left: 48px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: $screen-lg) {
      min-width: 530px;
      margin-right: 28px;
      margin-left: 36px;
      margin-bottom: 49px;
    }
  }

}
