@import '/less/variables';

@media screen and (min-width: $screen-sm) {
}
@media screen and (min-width: $screen-md) {
}
@media screen and (min-width: $screen-lg) {
}


.price-block {
  font-family: $font-family-R;
  font-size: 14px;
  .price-block__header {
    margin: 0;
    padding: 16px 32px;

    @media screen and (min-width: $screen-sm) {
      padding: 16px;
    }
  }

  .price-block__swiper {
    width: 300px;
    height: 260px;
    margin-left: 10px;
  }

  .price-block__swiper-slide {
    margin-right: 15px;
  }

  .price-block__link-container-brand {
    display: block;
    width: 244px;
    height: 200px;
    margin: 16px 24px 0 0;
    padding: 16px;

    @media screen and (min-width: $screen-sm) {
      padding: 0 16px;
    }
    @media screen and (min-width: $screen-md) {
      width: 260px;
    }
    @media screen and (min-width: $screen-lg) {
      width: 260px;
      margin: 16px 32px 0 0;
    }
  }

  .price-block__link-container {
    display: none;

    @media screen and (min-width: $screen-md) {
      display: block;
    }
  }

  .price-block__brands {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow: hidden;
    margin: 0 0 10px 32px;
    padding: 10px 0;

    @media screen and (min-width: $screen-md) {
      margin: 0 0 10px 24px;
    }
  }

  .price-block__btn-show-more {
    background-image: url("../img/expand-down.svg");
    background-repeat: no-repeat;
    background-color: inherit;
    border-style: none;
    text-align: start;
    padding-left: 25px;
    font-family: $font-family-M;
    font-size: 16px;
    padding-bottom: 16px;
    margin-left: 31px;
  }

  .price-block__btn-show-more--up {
    background-image: url("../img/expand-up.svg");
  }

  .price-block__btn-show-more--hidden {
    display: none;
  }

  .price-block__brands--show {
    height: auto;
    overflow: auto;
  }

  .price-block__p {
    font-size: 14px;
    color: $text-color-blocks;
    margin: 16px 0 0 0;
  }

  .price-block__p-text {
    font-size: 14px;
    margin: 4px 0 0 0;
  }

  .price-block__offer {
    margin: 0 16px;
    padding: 0 20px 40px 0;
  }

  .price-block__offer-text {
    line-height: 20px;
    max-width: 421px;
  }

  .price-block__offer-link {
    position: relative;
    font-family: $font-family-M;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      border-top: 2px solid $border-color-link;
      border-right: 2px solid $border-color-link;
      margin: 0 0 0 auto;
      transform: rotate(45deg);
      bottom: 6px;
      right: -20px;
    }
  }

}
